<?xml version="1.0" encoding="UTF-8" ?>
<!-- This is config file for phonegap -->
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "org.mobilecsp.cspquiz"
    version     = "1.0.0" >

  <name>CSP Quiz</name>

  <description>
     AP Computer Science Principles Study Tool
  </description>

  <author href="http://mobilecsp.org" email="">
     Mobile CSP 
  </author>

    <!--
        If you do not want any permissions to be added to your app, add the
        following tag to your config.xml; you will still have the INTERNET
        permission on your app, which PhoneGap requires.
See https://github.com/phonegap/phonegap-start/blob/master/www/config.xml for many options.
    -->
    <preference name="permissions"                value="none"/>

    <!-- Customize your app and platform with the preference element. -->
    <preference name="orientation"                value="default" />        <!-- all: default means both landscape and portrait are enabled -->
    <preference name="target-device"              value="universal" />      <!-- all: possible values handset, tablet, or universal -->
    <preference name="fullscreen"                 value="true" />           <!-- all: hides the status bar at the top of the screen -->
    
    <!-- Define app icon for each platform. -->
    <icon src="mobile-csp-logo.png" />
</widget>