html {
    font-size: 100% ; // for responsive font-size, not sure if needed
}

#quizbody { 
    background-color: beige; 
}

#quizdata {
    background-color: beige; 
    float:left;
    padding: 10px;
    max-width: 55%;
}
#quizpreview { 
    display:block; 
    float:right;
    background-color: bisque;
    padding: 10px;
    max-width: 40%;
}

#quiz_section {  
        width: 85%; 
        margin: auto; 
       // border: 2px solid green; 
 }
#questiondiv, #choices_container, #feedback-div {
   padding: 1%; 
}

#logo {
        float: left; // instead of table
        width: 25%; 
        max-width: 25%;
        min-width: 150px;  
    }
   
 #heading {
        font-size: 3em; // 3x html font-size
        font-weight: bolder;
    }

#filter-div {
        float: none;
        clear: both; // stop floating left
       
    }
#score {
    float: right;
    font-size: 1em; 
    font-weight: normal;
}

#hint-div, #feedback-div {
   width: 90%;
   margin: 5px auto 5px;     // top left/right bottom
   padding: 5px;    
   position: relative;
   box-shadow: 3px 3px 2px #aaaaaa;
}
#feedback-div {
    margin-bottom: 0px;
}

#hint {
       padding: 5px; // not working because span instead of div
}

select option:disabled {
    color: whitesmoke; // disabled menu categories hard to see in original color
    font-weight: bold;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 33%; /* Could be more or less, depending on screen size */
   box-shadow: 3px 3px 2px black;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 22px;
    font-weight: bold;
    margin-top: -20px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}