h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

input[type=radio] {
  font-size: 40px;
  width:1em;
  height:1em;
}

label {
  font-size: 40px;
}

.logo {
  width:150px;
}

.radio_text {
  font-size:25px;
}

.gcb-button {
  background-color: #666;
  background-image: -moz-linear-gradient(top,#777,#555);
  background-image: -webkit-linear-gradient(top,#777,#555);
  background-image: linear-gradient(top,#777,#555);
  background-position: left bottom;
  background-repeat: repeat-x;
  border: 1px solid #505050;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.2);
  box-shadow: 0 1px 1px rgba(0,0,0,.2);
  color: white;
  display: inline-block;
  font-family: "open sans",arial,sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.54;
  padding: 4px 7px;
  text-align: center;
  text-shadow: 0 1px rgba(0,0,0,.1);
  -moz-transition: all .218s ease-in;
  -webkit-transition: all .218s ease-in;
  transition: all .218s ease-in;
}
